.black-cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #779556;
}
.white-cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeed2;
}

.move {
  background-color: #00bfff90 !important;
}

.attack {
  background-color: red !important;
}

.checked {
  background-color: purple !important;
}

.row {
  height: 100px;
  width: 850px;
  display: flex;
}
.pieces {
  width: 73px;
  height: 75px;
}
