.fill-window {
    height: 90vh;
    width: 90%;
    overflow: hidden;
    background: url('../../assets/Board.jpeg') ;
    background-repeat: no-repeat;
    background-size: contain;
}

.square-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
