.black {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #779556;
}
.white {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEED2;
}

.highlighted {
  background-color: #00BFFF90 !important;

}
.row {
  height: 100px;
  width: 850px;
  display: flex;
}
.pieces {
  width: 73px;
  height: 75px;
}
