.black {
  background-image: url('./assets/black-square.jpeg');
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.white {
  background-image: url('./assets/white-square.jpeg');
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  height: 100px;
  width: 850px;
  display: flex;
}
.pieces {
  width: 73px;
  height: 75px;
}
